phase3-current.json
{"updatedAt":"2026-04-13T12:59:14Z","createdAt":"2026-04-13T12:47:09.687Z","id":"A1b2C3d4E5f6G7h8","name":"Alertmanager Infra Alerts","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"alertmanager-infra","options":{}},"id":"29852a05-6f05-4037-ba89-e784a779b3c0","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-520,260],"webhookId":"alertmanager-infra"},{"parameters":{"jsCode":"const payload = $json.body ?? $json;\nconst alerts = Array.isArray(payload.alerts) ? payload.alerts : [];\n\n// Ignore connectivity pings or malformed payloads to avoid noisy UNKNOWN messages.\nif (!alerts.length) {\n  return [];\n}\n\nreturn alerts.map((a) => {\n  const rawUrl = String(a.generatorURL || payload.externalURL || \"\");\n  const url = rawUrl.replace(/http:\\/\\/[\\w.-]+:9090/g, \"https://metrics.kevbeaoca.uk\");\n\n  return {\n    json: {\n      status: String(a.status || payload.status || \"unknown\").toLowerCase(),\n      alertname: String(a.labels?.alertname || \"UnknownAlert\"),\n      severity: String(a.labels?.severity || \"unknown\"),\n      service: String(a.labels?.service || a.labels?.job || \"infra\"),\n      instance: String(a.labels?.instance || \"n/a\"),\n      summary: String(a.annotations?.summary || a.annotations?.description || \"Sin resumen\"),\n      startsAt: String(a.startsAt || \"\"),\n      endsAt: String(a.endsAt || \"\"),\n      generatorURL: url,\n    },\n  };\n});"},"id":"813ff823-40c6-4583-8d45-44421342abe3","name":"Normalize Alertmanager","type":"n8n-nodes-base.code","typeVersion":2,"position":[-300,260]},{"parameters":{"chatId":"6718927433","text":"={{ \"[\" + ($json.status || \"unknown\").toUpperCase() + \"] \" + ($json.alertname || \"alert\") + \"\\nSeveridad: \" + ($json.severity || \"unknown\") + \"\\nServicio: \" + ($json.service || \"unknown\") + \"\\nInstancia: \" + ($json.instance || \"n/a\") + \"\\nResumen: \" + ($json.summary || \"Sin resumen\") + (($json.generatorURL || \"\") ? \"\\nURL: \" + $json.generatorURL : \"\") }}","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"id":"320fe998-6830-41f8-b118-2aa6c519b47b","name":"Telegram Infra Alert","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-80,260],"credentials":{"telegramApi":{"id":"jDt17azdI8qDw4vY","name":"Docker Server Status"}}}],"connections":{"Webhook":{"main":[[{"node":"Normalize Alertmanager","type":"main","index":0}]]},"Normalize Alertmanager":{"main":[[{"node":"Telegram Infra Alert","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5a0dd674-2019-486d-ae86-f0ac9e55f61b","activeVersionId":"5a0dd674-2019-486d-ae86-f0ac9e55f61b","versionCounter":3,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-13T12:47:09.76Z","createdAt":"2026-04-13T12:47:09.76Z","role":"workflow:owner","workflowId":"A1b2C3d4E5f6G7h8","projectId":"1TJxUpNzwGfCt3ny","project":{"updatedAt":"2026-03-16T17:25:20.547Z","createdAt":"2026-03-16T17:24:34.68Z","id":"1TJxUpNzwGfCt3ny","name":"Kevin Luis <kevin.luis.beaumont@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c734dc0a-7368-4ca1-b316-9843a2adb0ed"}}],"versionMetadata":{"name":null,"description":null}}
